#container {
  width: 75%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

body {background-color: #feebcf;}

.victoriawoodhull:hover {
  display: none;
}

.belvaannshadow:hover {
  display: none;
}

.mgsmith:hover {
  display: none;
}

.ptakemoto:hover {
  display: none;
}
.schisolm:hover {
  display: none;
}

.emccormack:hover {
  display: none
}

.lfulani:hover {
  display: none
}
.pschroeder:hover {
  display: none
}

.edole:hover {
  display: none
}

.sjohnson:hover {
  display: none
}

.cbraun:hover{
  display: none
}
.cmckinney:hover{
  display: none
}

.mbachmann:hover {
  display: none
}

.cfiorina:hover {
  display: none
}

.hrc:hover {
  display: none
}

.jstein:hover {
  display: none
}

.bottomgroup:hover{
  display: none
}
